/* SITE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --site-font: 'Rubik', sans-serif;
    --text-color: #4F5665;
    --title-color: #0B132A;
    --button-color: #F53838;
}

/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(105, 4%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: .5rem;
}


body {
    font-family: var(--site-font);
}

a {
    text-decoration: none !important;

}

ul,
li,
ol {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    width: 100%;
}

button {
    cursor: pointer;
}

/* HEADER */

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}


.header-list {
    display: flex;
    column-gap: 40px;
}

.header-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: var(--text-color);
}


.header-a {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
}

.header-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: var(--button-color);
    padding: 13px 45px;
    border-radius: 50px;
    border: 1px solid #F53855;
    background-color: transparent;
    margin-left: 30px;
}

.menu-toggle {
    display: flex;
    order: 1;
}

/* EASY */
.easy {
    margin-top: 130px;
}

.easy-wrap {
    display: flex;
    justify-content: space-between;
}

.easy-title {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
}

.easy-span {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}

.easy-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 20px 0 50px 0;

}

.easy-text-span {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.easy-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    background-color: var(--button-color);
    border: 0;
    padding: 17.5px 75.5px;
    border-radius: 10px;
    box-shadow: 0px 52px 300px 17px red;
}


/* LOCATION */

.location {
    margin-top: 105px;
}

.background {
    background-color: #FFFFFF;
    padding: 72px 50px;
    border-radius: 10px;
    box-shadow: #0D1025 0px 5px 34px;
}

.location-wrap {
    display: flex;
    justify-content: space-between;
}

.location-boxxer {
    display: flex;
    align-items: center;
    margin-right: 130px;

}

.location-boxxer:nth-child(3) {
    margin-right: 0;
}

.line-1 {
    margin-left: 130px;
}

.location-box:nth-last-child() {
    margin-right: 0;
}

.location-img {
    background: #FFECEC;
    border-radius: 70px;
    padding: 15.5px 15.5px;
}

.location-box {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}

.location-img {
    margin-right: 36px;
}

.location-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: var(--title-color);
}

.location-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--text-color);
}

/* PROVIDE */

.provide {
    margin-top: 100px;
}

.provide-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.provide-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: var(--title-color);
    max-width: 383.41px;
    width: 100%;
}

.provide-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--text-color);
    max-width: 427.88px;
    width: 100%;
    margin: 20px 0;
}

.provide-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.provide-second-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--text-color);
    display: flex;
    align-items: center;
    column-gap: 3px;
}

/* PLAN */

.plan {
    margin-top: 150px;
    margin-bottom: 150px;
}

.plan-title-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.plan-mian-title {
    color: var(--title-color);
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.plan-main-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.plan-wrapper {
    display: flex;
    justify-content: space-between;
}

.plan-wrap {
    /* height: 100%; */
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 80px 69.87px 50px 69.87px ;
}

.plan-wrap:hover {
    border: 2px solid #F53838;
}

.plan-img {
    display: flex;
    justify-content: center;
}


.plan-title {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}

.plan-text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
    margin-bottom: 130px;

}
.plan-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 20.17px;
}

.plan-title2 {
    color: var(--title-color);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-top: auto;
}

.plan-btn-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.plan-btn {
    color: #F53838;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    text-align: left;
    padding: 13px 62.94px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background-color: transparent;
    transition: .5s;
    text-align: center;
}

.plan-btn:hover {
    background: #F53838;
    color: #FFFFFF;

}